<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>


    
</head>
<body>
    
    <div class="footer">
        <div class="footer-logo">
            <a href="./index.html"><img src="/img/logo.png" alt="  ISC Logo"></a>
        </div>
        <div class="footer-info">
        <div class="contact">
            <div id="language-contact-text1" class="contact-text">Kontakt</div>
            <div class="contact-contact">
                
                <div class="contact-1">
                    <img src="./img/phone-2-128 (1).png" alt="Ein Bild von einem Telefon">
                    <a href="tel:+49 173 9446658">Patryk: +49 173 9446658</a>
                </div>
                <div class="contact-1">
                    <img src="./img/phone-2-128 (1).png" alt="Ein Bild von einem Telefon">
                    <a href="tel:+49 173 9507705">Deniz: +49 173 9507705</a>
                </div>
                <div class="contact-1">
                    <img src="./img/mail-128.png" alt="Ein Bild von einem Briefumschlag">
                    <a href="mailto:info@service-isc.com">info@service-isc.com</a>
                </div>
            </div>
        </div>
        <div class="navi">
            <div id="language-quick" class="quick">
                NAVIGATION</div>
            <div class="navi-navi">
                <div>&rArr;<a id="language-navi" href="./index.html">HOME</a></div>
                <div>&rArr;<a id="language-navi3" href="./Kontaktformular.html">KONTAKT</a></div>
                <div>&rArr;<a id="language-navi4" href="/impressum.html">DATENSCHUTZ</a></div>
                <div>&rArr;<a id="language-navi5" href="/impressum.html">IMPRESSUM</a></div>
            </div>
        </div>
    </div>
        <div>
            <div class="social-s">
                <div id="language-s-s" class="s-s">SOZIALES</div>
                <div class="social-social">
                    <a href="https://www.facebook.com/people/Isc-UG-Haftungsbeschr%C3%A4nkt/pfbid02JV4pDNfVoYMjtSjPbFRCALe6s6fQVjLZwEok9XQboJvZKUE36tpcQ4QAojTJ8RFkl/"><img src="./img/facebook.png" alt="Facebook Icon"></a>
                    <a href="https://www.instagram.com/official.isc.company?igshid=NGVhN2U2NjQ0Yg%3D%3D"><img src="./img/Instagram.png" alt="Instagram Icon"></a>
                    <a href=""><img src="./img/in.png" alt="LinkedIn Icon"></a>
                </div>
            </div>
        </div>

    </div>





    <script src="script1.js"></script>
    <script src="script2.js"></script>

</body>
</html>