<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>

</head>

<body>

  <div class="header" id="headerr">



    <div class="header2">

      <details class="dropdown1">
        <summary role="button">
          <a class="button"><img src="/img/german.png" alt=""></a>
        </summary>
        <ul>
          <li><a onclick="german()" href="#"><img src="/img/german.png" alt=""></a></li>
          <li><a onclick="america()" href="#"><img src="/img/amerika.png" alt=""></a></li>
          <li><a onclick="polen()" href="#"><img src="/img/polnisch.png" alt=""></a></li>
          <li><a onclick="turk()" href="#"><img src="/img/turkey.png" alt=""></a></li>
          <li><a onclick="arabic()" href="#"><img src="/img/arabisch.png" alt=""></a></li>
          <li><a onclick="spain()" href="#"><img src="/img/spain.png" alt=""></a></li>
          <li><a onclick="france()" href="#"><img src="/img/france.png" alt=""></a></li>
        </ul>
      </details>
      <div class="header-div">
        <div class="header-logo-div"><img src="/img/logo.png" alt=""></div>
        <div class="header-name-div">
          <h1 id="languageh1" class="h1">International Service Company </h1>
          <h3 id="languageh1-1" class="h333">Kundenzufriedenheit ist unsere Priorität</h3>
        </div>
        <div class="phone-div">
        </div>
      </div>
      <nav class="blocks">
        <a href="#" class="block" onclick="german()">
          <div class="block__item">
            <img src="/img/german.png" alt="">
          </div>
        </a>
        <a href="#" class="block" onclick="america()">
          <div class="block__item">
            <img src="/img/amerika.png" alt="">
          </div>
        </a>
        <a href="#" class="block" onclick="polen()">
          <div class="block__item">
            <img src="/img/polnisch.png" alt="">
          </div>
        </a>
        <a href="#" class="block" onclick="turk()">
          <div class="block__item">
            <img src="/img/turkey.png" alt="">
          </div>
        </a>
        <a href="#" class="block" onclick="arabic()">
          <div class="block__item">
            <img src="/img/arabisch.png" alt="">
          </div>
        </a>
        <a href="#" class="block" onclick="spain()">
          <div class="block__item">
            <img src="/img/spain.png" alt="">
          </div>
        </a>
        <a href="#" class="block" onclick="france()">
          <div class="block__item">
            <img src="/img/france.png" alt="">
          </div>
        </a>

      </nav>
    </div>


  </div>
  <nav id="nav" class="nav-nav">
    <ul class="ul-ul">
      <li><a id="language-start" href="/index.html">Home</a></li>
      <li><a id="languageDienstleistungen2" href="#">Dienstleistungen</a>
        <ul class="ul-drop">
          <li><a id="language-Sicherheitsdienstleistungen"
              href="/Sicherheitsdienstleistungen.html">Sicherheitsdienstleistungen</a></li>
          <li><a id="language-Reinigunsdienstleistungen"
              href="/Reinigunsdienstleistungen.html">Reinigunsdienstleistungen</a></li>
          <li><a id="language-Logistikdienstleistungen"
              href="/Logistikdienstleistungen.html">Logistikdienstleistungen</a></li>
        </ul>
      </li>
      <li><a id="language-kontakt" href="/kontaktformular.html">Kontakt</a></li>
    </ul>
  </nav>




</body>

</html>